.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.container label {
  margin-bottom: 10px;
  font-weight: bold;
}

.container input {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid;
  border-radius: 3px;
}

.container textarea {
  min-height: 200px;
  padding: 12px;
}
.container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: 100px;
  border-radius: 5px;
}