.blogContainer {
  display: flex;
  flex-direction: row;
}

.cardImage {
  position: relative;
  width: 500px;
  height: 300px;
  margin-right: 20px;
}

.cardImage img {
  border-radius: 8px;
  object-fit: cover;
}

.cardInfo{
  flex-direction: column;
}

.cardInfo h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.cardInfo p {
  font-size: 16px;
  margin-bottom: 10px;
}

.container {
  text-align: 'center';
  margin-top: 50px;
}

.heading {
  font-size: '24px';
  color: 'red';
}
.message {
  font-size: '18px';
  color: '#333';
}

@media screen and (max-width: 600px) {
  .blogContainer {
    flex-direction: column;
  }

  .cardImage {
    width: 100%;
    height: 200px;
    margin-right: 0;
  }
}